// stylelint-disable scss/dollar-variable-empty-line-before

$screen-sm: 768px;
$screen-md: 1171px;

$font-primary: "Open Sans", sans-serif;

$color-transparent: rgba(#000, 0);

$default-transition: 0.2s ease;



